{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Pin ' ~ pin.id %}

{% block body %}
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{ path('pins.create') }}">Create Pin</a></li>
        </ul>
    </nav>
    <h1>Edit Pin {{ pin.id }}</h1>
     {{ include('pins/partial-form.html.twig', {submitButtonText: 'Update Pin'}) }}
{% endblock %}