{% extends 'base.html.twig' %}

{% block title 'Edit Pin ' ~ pin.id %}

{% block body %}
    <h1>Edit Pin {{ pin.id }}</h1>

        {{ form_start(formView) }}
            {{ form_widget(formView) }}

            <input type="submit" value="Update Pin">

        {{ form_end(formView) }}
{% endblock %}