<footer class="container text-center mt-5">
    <p class="text-muted">
        <small>
            &copy; {{ 'now'|date('Y') }} &middot;
            Built by <span class="text-danger"> <a href="https://github.com/Adib-LGS">Adib.P-LGS</a></span>
        </small>
    </p>
</footer>