<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <nav>
            <li><a href="{{ path('home') }}"></a></li>
            <li><a href="{{ path('pins.create') }}"></a></li>
        </nav>
        {% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
